<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>I'm a designer &amp; developer living in <a href="#">Cox</a>, Alicante.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
		<p>Nisi <a href="#">fugiat</a> consequatur culpa inventore, vitae, reprehenderit, delectus quam odio non, quia numquam aut quisquam eum <a href="#">dolorem</a>.</p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Cosas que hé escrito</h2>
		<hr>

		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class ="date"><%= post.created_at.strftime("%A, %d %b") %></p>
		<% end %>
	</div>
	<div class="col-3 homepage_content">
		<h2>Cosas que hé Creado</h2>
		<hr>
		<% @projects.each do |project| %>
			<h3><a href="#"><%= link_to project.title, project %></a></h3>
			<p class ="date"><%= project.created_at.strftime("%A, %d %b") %></p>
		<% end %>
	</div>
</div>